@layer components {
.inlineCode {
  font-size: var(--fs-sm);
}

.codeBlock {
  inline-size: 100%;
  margin: 0;
  line-height: var(--lh-relaxed);
  white-space: pre-wrap;
}

.codeBlock code {
  padding: 0;
  font-size: inherit;
  background: var(--color-transparent);
}

.trailingText {
  inline-size: 100%;
}
}