.inlineCode {
  font-size: 0.9em;
}

.codeBlock {
  inline-size: 100%;
  margin-block: 0;
  margin-inline: 0;
  line-height: var(--lh-relaxed);
  white-space: pre-wrap;
}

.codeBlock code {
  padding: 0;
  font-size: inherit;
  background: transparent;
}

.trailingText {
  inline-size: 100%;
}
