@layer components {
.header,
.quizContent,
.actions {
  inline-size: 100%;
}

.header {
  display: flex;
  align-items: center;
}

.logo {
  inline-size: auto;
  block-size: 2.75rem;
}

.quizContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-7);
}

.headerTitle {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
  gap: var(--space-4);
}

@container screen (inline-size <= 48rem) {
  .header,
  .actions {
    flex-direction: column;
  }

  .logo {
    block-size: 2.25rem;
  }
}
}
