/* Desktop - Results Screen */ 

.header {
    display: flex; 
    align-items: center; /* Center children vertically */
    inline-size: 100%; /* Full width of the parent */

    /* mobile styling for header */ 
    @media (max-width: 48em){
        flex-direction: column; /* Stack children vertically on smaller screens */
    }
}

.quizContent {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: var(--space-7); /* 32px gap between children */
    inline-size: 100%; /* Full width of the parent */
}

.headerTitle {
    text-align: center; /* Center the text */
    overflow-wrap: anywhere;
}

/* actions styling */
.actions {
    display: flex;
    flex-direction: row; /* Side by side on desktop */
    gap: var(--space-4); /* 16px gap between children */
    inline-size: 100%; /* Full width of the parent */
    justify-content: center; /* Center children horizontally */

    @media (max-width: 48em){
        flex-direction: column; /* Stack children vertically on smaller screens */
    }
}
