.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-7);
  inline-size: 100%;
}

.headerCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-5);
  text-align: center;
  inline-size: 100%;
}

@media (max-width: 48em) {
  button {
    inline-size: 100%;
  }
}
